/* FONT START */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
  font-family: "Monsterrat", sans-serif;
}
/* FONT END */

/* NAVBAR STYLE START */
.navbar {
  position: sticky;
  z-index: 10;
  background-color: white/var(--tw-bg-opacity);
  --tw-bg-opacity: 0.8;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  top: 0px;
  left: 0px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.navbarcon {
  margin-right: auto;
  margin-left: auto;
}

.top {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navbarlogo {
  display: block;
  font-weight: 700;
  font-size: larger;
  color: rgb(164, 70, 253);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.nav {
  max-width: 100%;
  display: block;
  position: static;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  display: flex;
}

.position {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-self: flex-end;
}

.group > a {
  color: rgb(164, 70, 253);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* NAVBAR STYLE END */

/* SIDEBAR STYLE START */
.sidebar {
  background: #ffe5b4;
  color: #f96c08;
  height: 100%;
  min-height: 100vh;
  transition: all 0.5s;
  font-size: 20px;
  position: sticky;
  top: 60px;
}

.bars {
  display: flex;
  font-size: 25px;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
}

.link {
  display: flex;
  color: #f96c08;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  cursor: pointer;
}
.link:hover {
  background: #f96c08;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.linkselected {
  display: flex;
  background: #f96c08;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  cursor: pointer;
}

.link_text {
  font-size: 20px;
}
main {
  width: 100%;
}
.dropdown {
  transition: all 0.5s;
  overflow: hidden;
}
.dropdowncontent {
  padding-left: 40px;
}

/* SIDEBAR CO */

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}

/* SIDEBAR STYLE END */
