/* FONT START */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
  font-family: "Monsterrat", sans-serif;
}
/* FONT END */

/* NAVBAR STYLE START */
.navbar {
  position: sticky;
  z-index: 10;
  background-color: white/var(--tw-bg-opacity);
  --tw-bg-opacity: 0.8;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  top: 0px;
  left: 0px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.navbarcon {
  margin-right: auto;
  margin-left: auto;
}

.top {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navbarlogo {
  display: block;
  font-weight: 700;
  font-size: larger;
  color: rgb(164, 70, 253);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.nav {
  max-width: 100%;
  display: block;
  position: static;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  display: flex;
}

.position {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-self: flex-end;
}

.group > Link {
  color: rgb(164, 70, 253);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* NAVBAR STYLE END */

/* SIDEBAR STYLE START */
.full {
  display: flex;
  flex-direction: row;
}
.sidebar {
  background: rgb(227, 198, 255);
  color: rgb(164, 70, 253);
  height: 100%;
  min-height: 100vh;
  transition: all 0.5s;
  font-size: 20px;
  position: sticky;
  top: 60px;
}

.logo {
  font-size: medium;
}

.bars {
  display: flex;
  font-size: 25px;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
}

.link {
  display: flex;
  color: rgb(164, 70, 253);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  cursor: pointer;
}
.link:hover {
  background: rgb(164, 70, 253);
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.linkselected {
  display: flex;
  background: rgb(164, 70, 253);
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  cursor: pointer;
}

.link_text {
  font-size: 20px;
}
main {
  width: 100%;
}
.dropdown {
  transition: all 0.5s;
  overflow: hidden;
}
.dropdowncontent {
  padding-left: 40px;
}

/* SIDEBAR CO */

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}

/* SIDEBAR STYLE END */
/* HOMEPAGE STYLE START */
.home-background {
  /* background-color: rgb(255, 215, 215); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HOMEPAGE STYLE END */
/* FOOTER STYLE START */
.footer {
  width: 100vw;
  position: absolute;
  top: 100%;
  background-color: rgb(238, 220, 255);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-credit {
  opacity: 0.8;
  text-align: center;
  background-color: rgb(234, 209, 244);
}
/* FOOTER STYLE END */

/* PAINT START */
.body-paint {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(247, 211, 255);
}

.container-paint {
  display: flex;
  width: 100%;
  max-width: 1050px;
  gap: 10px;
  padding: 10px;
}

section {
  background: #fff;
  border-radius: 7px;
}

.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}

.tools-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.option:is(:hover, .active) {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: rgb(94, 94, 94);
  padding-left: 10px;
  cursor: pointer;
}

.option:is(:hover, .active):where(span, label) {
  color: #4a98f7;
}

.option #fill-color {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

#fill-color:checked ~ label {
  color: #4a98f7;
}

.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}

.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}

.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}

.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}

.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
}
.drawing-board {
  flex: 1;
  overflow: hidden;
}

.drawing-board canvas {
  width: 100%;
  height: 100%;
}

/* PAINT END */
